/* p {
  margin: 6px;
  padding: 6px;
  border: 4px solid black;
  width: 100px;
  height: 100px;
  background-color: orange;
} */

html {
  box-sizing: border-box;
}
p {
  box-sizing: inherit;
}

.my-grid {
  display: grid;
  grid-template-columns: 20% 20%;
  grid-template-rows: 50% 50%;
}

.has-blue-background {
  background-color: #a7ddff;
  border: 1px solid #721ee3;
}

.has-yellow-background {
  background-color: #b9b897;
  border: 1px solid #e38c1e;
}
